.ColorBox{
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.copy-button{
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 39.8%;
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border: none;
    opacity: 0;

}

.ColorBox:hover .copy-button{
    opacity: 1;
    transition: 0.75s;
}

.box-content{
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 10px;
    bottom: 0px;
    color:black;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.see-more{
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0px;
    padding: 10px;
    bottom: 0px;
    border: none;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    text-align: center;
  
}
